:root {
  --theme-color-base: #fff;
  --theme-color-text: #000;
  --mq-size-sm: 576px;
  --mq-size-md: 768px;
  --mq-size-lg: 992px;
  --mq-size-xl: 1200px;
}

body {
  box-sizing: border-box;
  background-color: var(--theme-color-base);
}

* {
  box-sizing: border-box;
}

.container {
  --container-width: 100%;
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  height: 48px;
  align-items: center;
}
.navigation__list {
  display: flex;
  justify-content: end;
}

.navigation__item {
  margin: 0 10px;
}

.main {
  margin-top: 200px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}

.main__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.main__input {
  padding: 0 16px;
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
  width: 500px;
}

.form-buttons__wrapper {
  margin-top: 30px;
}

.form-button {
  margin: 0 10px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

@media (min-width: 576px) {
  .container {
    --container-width: var(--mq-size-sm);
  }
}
@media (min-width: 768px) {
  .container {
    --container-width: var(--mq-size-md);
  }
}
@media (min-width: 992px) {
  .container {
    --container-width: var(--mq-size-lg);
  }
}
@media (min-width: 1200px) {
  .container {
    --container-width: var(--mq-size-xl);
  }
}
